**VECTORS AND MATRICES**

In [4]:
import numpy as np
arr1=np.array([[1,2,3],[4,5,6],[7,8,9]])
arr2=np.array([[1,2,3],[4,5,6],[7,8,9]])
arr3=arr1.dot(arr2)

In [5]:
arr3

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [6]:
import pandas as pd
dataset=pd.read_csv('CarPrice_Assignment.csv')

In [9]:
type(dataset)

pandas.core.frame.DataFrame

In [47]:
a=set(dataset['CarName'])
a

{'ABCD',
 'Nissan versa',
 'alfa-romero Quadrifoglio',
 'audi 100 ls',
 'audi 100ls',
 'audi 4000',
 'audi 5000',
 'audi 5000s (diesel)',
 'audi fox',
 'bmw 320i',
 'bmw x1',
 'bmw x3',
 'bmw x4',
 'bmw x5',
 'bmw z4',
 'buick century',
 'buick century luxus (sw)',
 'buick century special',
 'buick electra 225 custom',
 'buick opel isuzu deluxe',
 'buick regal sport coupe (turbo)',
 'buick skyhawk',
 'buick skylark',
 'chevrolet impala',
 'chevrolet monte carlo',
 'chevrolet vega 2300',
 'dodge challenger se',
 'dodge colt (sw)',
 'dodge colt hardtop',
 'dodge coronet custom',
 'dodge coronet custom (sw)',
 'dodge d200',
 'dodge dart custom',
 'dodge monaco (sw)',
 'dodge rampage',
 'honda accord',
 'honda accord cvcc',
 'honda accord lx',
 'honda civic',
 'honda civic (auto)',
 'honda civic 1300',
 'honda civic 1500 gl',
 'honda civic cvcc',
 'honda prelude',
 'isuzu D-Max ',
 'isuzu D-Max V-Cross',
 'isuzu MU-X',
 'jaguar xf',
 'jaguar xj',
 'jaguar xk',
 'maxda glc deluxe',
 'maxda rx3',
 'mazda 626',
 'mazda glc',
 'mazda glc 4',
 'mazda glc custom',
 'mazda glc custom l',
 'mazda glc deluxe',
 'mazda rx-4',
 'mazda rx-7 gs',
 'mazda rx2 coupe',
 'mercury cougar',
 'mitsubishi g4',
 'mitsubishi lancer',
 'mitsubishi mirage',
 'mitsubishi mirage g4',
 'mitsubishi montero',
 'mitsubishi outlander',
 'mitsubishi pajero',
 'nissan clipper',
 'nissan dayz',
 'nissan fuga',
 'nissan gt-r',
 'nissan juke',
 'nissan kicks',
 'nissan latio',
 'nissan leaf',
 'nissan note',
 'nissan nv200',
 'nissan otti',
 'nissan rogue',
 'nissan teana',
 'nissan titan',
 'peugeot 304',
 'peugeot 504',
 'peugeot 504 (sw)',
 'peugeot 505s turbo diesel',
 'peugeot 604sl',
 'plymouth cricket',
 'plymouth duster',
 'plymouth fury gran sedan',
 'plymouth fury iii',
 'plymouth satellite custom (sw)',
 'plymouth valiant',
 'porcshce panamera',
 'porsche boxter',
 'porsche cayenne',
 'porsche macan',
 'renault 12tl',
 'renault 5 gtl',
 'saab 99e',
 'saab 99gle',
 'saab 99le',
 'subaru',
 'subaru baja',
 'subaru brz',
 'subaru dl',
 'subaru r1',
 'subaru r2',
 'subaru trezia',
 'subaru tribeca',
 'toyota carina',
 'toyota celica gt',
 'toyota celica gt liftback',
 'toyota corolla',
 'toyota corolla 1200',
 'toyota corolla 1600 (sw)',
 'toyota corolla liftback',
 'toyota corolla tercel',
 'toyota corona',
 'toyota corona hardtop',
 'toyota corona liftback',
 'toyota corona mark ii',
 'toyota cressida',
 'toyota mark ii',
 'toyota starlet',
 'toyota tercel',
 'toyouta tercel',
 'vokswagen rabbit',
 'volkswagen 1131 deluxe sedan',
 'volkswagen 411 (sw)',
 'volkswagen dasher',
 'volkswagen model 111',
 'volkswagen rabbit',
 'volkswagen rabbit custom',
 'volkswagen super beetle',
 'volkswagen type 3',
 'volvo 144ea',
 'volvo 145e (sw)',
 'volvo 244dl',
 'volvo 245',
 'volvo 246',
 'volvo 264gl',
 'volvo diesel',
 'vw dasher',
 'vw rabbit'}

In [38]:
dataset['CarName'][0]='ABCD'
dataset['CarName'][1]='ABCD'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
dataset

                      CarName fueltype aspiration  ... citympg highwaympg   target
0                        ABCD      gas        std  ...      21         27  13495.0
1                        ABCD      gas        std  ...      21         27  16500.0
2    alfa-romero Quadrifoglio      gas        std  ...      19         26  16500.0
3                 audi 100 ls      gas        std  ...      24         30  13950.0
4                  audi 100ls      gas        std  ...      18         22  17450.0
..                        ...      ...        ...  ...     ...        ...      ...
200           volvo 145e (sw)      gas        std  ...      23         28  16845.0
201               volvo 144ea      gas      turbo  ...      19         25  19045.0
202               volvo 244dl      gas        std  ...      18         23  21485.0
203                 volvo 246   diesel      turbo  ...      26         27  22470.0
204               volvo 264gl      gas      turbo  ...      19         25  22625.0

[205 rows x 24 columns]

In [46]:
#NaN
dataset.isnull()

     CarName  fueltype  aspiration  ...  citympg  highwaympg  target
0      False     False       False  ...    False       False   False
1      False     False       False  ...    False       False   False
2      False     False       False  ...    False       False   False
3      False     False       False  ...    False       False   False
4      False     False       False  ...    False       False   False
..       ...       ...         ...  ...      ...         ...     ...
200    False     False       False  ...    False       False   False
201    False     False       False  ...    False       False   False
202    False     False       False  ...    False       False   False
203    False     False       False  ...    False       False   False
204    False     False       False  ...    False       False   False

[205 rows x 24 columns]

toyota corona                     6
toyota corolla                    6
peugeot 504                       6
subaru dl                         4
mitsubishi g4                     3
mitsubishi outlander              3
mazda 626                         3
mitsubishi mirage g4              3
honda civic                       3
toyota mark ii                    3
audi 100ls                        2
nissan latio                      2
volvo 244dl                       2
bmw x3                            2
honda civic cvcc                  2
toyota corolla liftback           2
mazda rx-7 gs                     2
volvo 264gl                       2
nissan clipper                    2
saab 99e                          2
saab 99le                         2
peugeot 604sl                     2
saab 99gle                        2
toyota corolla 1200               2
volvo 145e (sw)                   2
isuzu D-Max                       2
nissan rogue                      2
toyota starlet                    2
bmw 320i                          2
volkswagen dasher                 2
subaru                            2
porsche cayenne                   2
honda accord                      2
mazda rx-4                        2
mazda glc                         2
volvo 144ea                       2
plymouth fury iii                 2
mazda glc deluxe                  2
toyota tercel                     1
mazda rx2 coupe                   1
dodge monaco (sw)                 1
audi 5000s (diesel)               1
nissan fuga                       1
maxda glc deluxe                  1
chevrolet monte carlo             1
vokswagen rabbit                  1
plymouth satellite custom (sw)    1
toyota corolla 1600 (sw)          1
buick skylark                     1
toyota carina                     1
Name: CarName, dtype: int64